@import 'Name.scss';

.metas {
  width: 25%;
  height: 6%;
  margin-left: 7%;
  font-family: Open-Sans;
  color: #58506b;
  font-size: 18px;
}

.containerGoal {

  width: 87%;
  height: 25%;
  margin-left: 7%;
  display: flex;
  flex-direction: row;

  .containerGoal1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    color: rgba(129, 118, 153, 1);

    .Img2 {
      width: 39%;
      height: 25%;
      margin-top: 10%;
      margin-left: 10%;
    }

    .infoStadistics {
      display: flex;
      flex-direction: column;
      margin-left: 11%;
      margin-top: 6%;
      font-family: Open-Sans;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;

      .canarias {
        margin-top: -13%
      }
    }

    .infoStadistics1 {
      display: flex;
      flex-direction: row;

      .svg-inline--fa {
        font-size: 2em;
        margin-left: 7%;
        color: rgba(84, 209, 237, 1);
      }

      .porcentaje {
        height: 30%;
        font-size: 4vw;
        margin-top: 21%;
        margin-left: -19%;
        font-family: Open-Sans;
        font-weight: 600;
        color: rgba(84, 209, 237, 1);
      }

      .infoStadistics2 {
        height: 94%;
        display: flex;
        flex-direction: column;
        margin-left: 21%;
        margin-top: 5%;

        .valor1 {
          font-family: Open-Sans;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.03em;
          color: rgba(84, 209, 237, 1);
        }

        .valor2 {
          font-size: 10px;
          line-height: 14px;
          letter-spacing: -0.03em;
          color: rgba(129, 118, 153, 1);
          margin-top: -54%;
        }
      }
    }
  }

  .containerGoal2 {
    width: 50%;
    height: 100%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;

    .infoLaptop {
      display: flex;
      flex-direction: column;

      .Img3 {
        width: 40px;
        height: 40px;
        margin-top: 10%;
        margin-left: 10%;
      }

      .nameMc {
        margin-top: 8%;
        margin-left: 10%;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        font-family: Open-Sans;
        color: rgba(129, 118, 153, 1);
      }
    }

    .containerStadistics {
      display: flex;
      flex-direction: row;

      .svg-inline--fa{
        font-size: 2em;
        margin-left: 7%;
        margin-top: 24%;
        color: rgba(84, 209, 237, 1);
      }

      .porcentaje {
        height: 30%;
        font-size: 4vw;
        margin-top: 44%;
        margin-left: -17%;;
        font-family: Open-Sans;
        font-weight: 600;
        color: rgba(84, 209, 237, 1);
      }

      .containerStadistics1{
        height: 56%;
        display: flex;
        flex-direction: column;
        margin-left: 26%;
        margin-top: 27%;

        .valor1 {
          font-family: Open-Sans;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.03em;
          color: rgba(84, 209, 237, 1);
        }

        .valor2 {
          font-size: 10px;
          line-height: 14px;
          letter-spacing: -0.03em;
          color: rgba(129, 118, 153, 1);
          margin-top: -63%;
        }
      }
    }
  }
}